
.about{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    padding: 10px;
}

.about h1{
    font-size: 40px;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
}

.about h1:hover{
    color: orange;
}

.contentLeft{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    margin: 10px;
    padding: 20px;  
    background-color: #0078d4; 
    color: #fff; 
    border-radius: 10%;
}

.contentRight{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  margin: 10px;
  padding: 20px;  
  background-color: gainsboro; 
  color: blue; 
  border-radius: 10%;
}

.contentLeft img{
    width: 20%;
    height: 20%;
    border-radius: 15%;
}

.contentRight img{
  width: 20%;
  height: 20%;
  border-radius: 15%;
}

.mission{
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.mission h2 {
    font-size: 40px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
  
.mission h2:hover{
    color: orange;
}

.mission p {
    font-size: 15px;
    margin-bottom: 5px;
}
  
.mission ul {
    list-style: disc;
    margin-left: 20px;
}
  
.mission ul li {
    font-size: 15px;
    margin-bottom: 5px;
}
  

.vision {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
  
  .vision h2 {
    font-size: 40px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .vision h2:hover{
    color: orange;
  }
  
  .vision p {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .vision ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  .vision ul li {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .goals { 
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .goals h2 {
    font-size: 40px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  
  .goals h2:hover{
    color: orange;
  }

  .goals ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  .goals ul li {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .faq {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .faq h2 {
    font-size: 40px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .faq h2:hover{
    color: orange;
  }
  
  .item h3 {
    font-size: 15px;
    margin-bottom: 0px;    
  }
  
  .item p {
    font-size: 13px;
    margin-bottom: 5px;
  }
  