
.about{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

.about h1{
    font-size: 60px;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    /* text-decoration:double; */
}

.about h1:hover{
    color: orange;
}

.contentLeft{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    margin: 10px;
    padding: 20px;  
    /* margin-left: 10%; */
    /* border-radius: 10%; */
}

.contentRight{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  padding: 20px;  
  /* border-radius: 10%; */
}

.contentLeft img{
    width: 40%;
    height: 40%;
    border-radius: 55%;
}

.contentRight img{
  width: 40%;
  height: 40%;
  border-radius: 55%;
}

.mission{
    padding: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
    /* background-color: #0078d4;  */
    color: white; 
    border-radius: 10%;
}

.mission h2 {
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
  
.mission h2:hover{
    color: orange;
}

.mission p {
    font-size: 15px;
    margin-bottom: 10px;
}
  
.mission ul {
    list-style: disc;
    margin-left: 20px;
}
  
.mission ul li {
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 5%;
}
  

.vision {
    padding: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
    /* background-color: gainsboro;  */
    color: white; 
    border-radius: 10%;
}
  
  .vision h2 {
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .vision h2:hover{
    color: orange;
  }
  
  .vision p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .vision ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  .vision ul li {
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 5%;
  }
  
  .goals { 
    padding: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
    /* background-color: #0078d4;  */
    color: white; 
    border-radius: 10%;
  }
  
  .goals h2 {
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .goals h2:hover{
    color: orange;
  }

  .goals ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  .goals ul li {
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 5%;
  }
  
  .faq {
    padding: 40px;
    margin-left: 10px;
    margin-bottom: 20px;
    /* background-color: gainsboro;  */
    color: white;
    border-radius: 10%; 
  }
  
  .faq h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .faq h2:hover{
    color: orange;
  }
  
  .item h3 {
    font-size: 15px;
    margin-bottom: 0px;    
    margin-left: 5%;
  }
  
  .item p {
    font-size: 13px;
    margin-bottom: 5px;
    margin-left: 5%;
  }
  