.container {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0px 100px;
}

.content {
    padding-left: 40px;
}

.image {
    @media(max-width:  $mantine-breakpoint-sm) {
        display: none !important;
    }
}

.text {
    padding-top: 40px !important;
}

.button {

    margin-top: 40px;
    text-decoration: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #ee6ff5 !important;
    color: #f4f1fc;
}