
.events{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90.13deg, #0A1227 45.33%, #09090F 99.32%); 
  padding-bottom: 5%; 
}


.events h1{
  text-align: center;
  font-size: 60px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #fff;
  /* text-decoration:double; */
}

.events h1:hover{
  color: orange;
}

.events p {
  font-size: 16px;
  margin: 20px;
  color: white;
  margin-left: 3%;
  
}

.eventContainer {
  /* background-color: #f0f0f0; Light gray background for each event container */
  padding: 20px;
  margin: 30px;
  margin-left: 20px;
  /* border-radius: 5%; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Box shadow for event containers */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  /* width: 100%; */

}

.eventContainer img{
  width: 300px;
  height: 250px;
  margin-right: 20px;
  border-radius: 35%;
}

.eventName {
  color: white; /* Dark blue event name color */
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.eventName:hover{
  color: orange;
}

.eventDescription {
  font-size: 16px;
  margin-bottom: 15px;
  color: white;
}

.eventDate {
  font-size: 14px;
  margin-bottom: 5px;
  color: white; /* Dark gray date color */
}

.eventLocation {
  font-size: 14px;
  margin-bottom: 5px;
  color: white; /* Dark gray location color */
}

h1 {
  color: white; /* Dark blue header color */
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}
