.container {
    display: flex;
    padding: 50px 100px;
    gap: 50px;
    justify-content: space-between;
    
}

.mission {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    
}

.graphics {
    height: 45vw;
}

.content {
    display: flex;

}

.missionList {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 300px;
    /* gap: 20px; */
}