.header {
  height: 68px !important;
  /* margin-bottom: rem(120px); */
    background: linear-gradient(90deg, #09090F 0.52%, #0A1227 52.08%);

    /* border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)); */

    height: rem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 45px 15px 45px;
  }

  .imgContainer {
    height: 3rem;
    width: 1rem;
    padding: 0.12rem;
    margin-left: 40px;
  }

  .imgContainer img {
    height: 100%;
  }
  
  .link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFF;
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
/*   
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    } */

    [data-mantine-color-scheme] &[data-active] {
      background-color: var(--mantine-color-blue-filled);
      color: var(--mantine-color-white);
    }
  }

.button{
  padding: 10px;
  background-color: #754609;
  border: 1px red solid;
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}