@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
    .hero{
    width: 100%;
    display: flex;
    background: linear-gradient(94.08deg, #EEEEEE 32.34%, #4CC8D2 79.95%);
    padding: 4rem;
  }

  .hero-Left{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
  }

  .hero-heading{
    width: 60%;
    font-size: 5.4rem;
    font-weight: 700;
    color: #0A1227;
    text-align: left;
    line-height: 1.5;
  }

  .hero-text{
    width: 87%;
    font-size: 1.6rem;
    color: #0A1227;
    text-align: left;
    margin: 0;
    line-height: 1.5;
  }

  .hero-Right{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-img{
    width: 100%;
    height: 100%;
  }

  .section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
  }
  .section-main-heading{
    width: 100%;
    font-size: 3rem;
    font-weight: 700;

  }
  .section-heading{
    width: 100%;
    font-family: "Rochester", cursive;
    font-style: normal;
    font-size: 3rem;
    font-weight: 400;
  }

  .card-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
  }