.sponsor{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  padding: 20px;
}
.sponsorContainer {
  background-color: #f0f0f0; /* Light gray background for each sponsor container */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for sponsor containers */
}

.sponsorName {
  color: #0078d4; /* Dark blue sponsor name color */
  font-size: 24px;
  margin-bottom: 10px;
}

.sponsorImage {
  max-width: 100%;
  margin-bottom: 15px;
}

.sponsorLink {
  color: #0078d4; /* Dark blue link color */
  text-decoration: none;
  font-weight: bold;
}

.sponsorLink:hover {
  text-decoration: underline; /* Underline the link on hover */
}

h1 {
  color: #0078d4; /* Dark blue header color */
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}
