.card {
    position: relative;
    width: 265px;
    height: 400px;
    /* background: #f00; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
  }

  .varCouncil {
    background: linear-gradient(to left, #FF6969 0%, #ea5358 100%);

  }
  .varCore {
    background: linear-gradient(to left, #5B0888 0%, #ea5358 100%);

  }    
.varCoord {
    background: linear-gradient(to left, #12486B 0%, #ea5358 100%);

    }

  
  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to left, #5B0888 0%, #ea5358 100%); */
  }
  
  .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to left, #5B0888 0%, #ea5358 100%); */
    filter: blur(30px); 
  }
  
  .card b {
    position: absolute;
    inset: 6px;
    /* background: rgba(0, 0, 0, 0.6); */
    background: #1e2649;
    z-index: 2;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);

  }
  
  .card img {
    position: absolute;
    z-index: 3;
    bottom: 60px;
    scale: 0.8;
    /* opacity: 0.25; */
    transition: 0.5s;
    /* border-radius: 20px; */
    height: 85%;
  }


  
  .card:hover img {
    scale: 0.7;
    opacity: 0.9;
    transform: translateY(-30px);
  }

   .name-and-pos {
    position: absolute;
    margin-top: 280px;
    z-index: 4;
    transition: 0.5s;


  }

   .card:hover .name-and-pos {
    transform: translateY(-30px);

  }

  .name-and-pos .title {
    color: #fff;
    font-weight: 400;
    line-height: 1em;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
  }
  .name-and-pos .title span {
    font-weight: 800;
    font-size: 0.72em;
    color: #ffa500;
  }
  
  
  .card .content {
    position: absolute;
    z-index: 3;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    transition: 0.5s;
    border-radius: 20px;
  }
  
  .card:hover .content {
    transform: scale(1);
    bottom: 25px;
  }
  
  .content .title {
    position: relative;
    color: #fff;
    font-weight: 500;
    line-height: 1em;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    top: 40px;
  }
  
  .content .title span {
    font-weight: 500;
    font-size: 0.52em;
  }
  
  .content .sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
  }
  
  .sci li {
    list-style: none;
  }
  
  .sci li .fa-brands {
    width: 14px;
  }
  
  .sci li .fa-facebook {
    width: 10px;
  }
  
  .sci li a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.2);
    fill: currentColor;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: 0.5s;
  }
  
  .sci li a:hover {
    fill: currentColor;
    color: rgba(255, 255, 255, 1);
  }
  