.container {

    /* padding-top: 100px; */
    color: white;
    /* padding-bottom: 100px; */
    padding: 100px 0px;
    
}

.events {
    padding-top: 40px;
}

.card {
    width: 300px;
    /* margin-left: 3%; */
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.imgSection {

    /* object-fit: cover; */
    height: 100%;
}

.imgSection img {
    height: 100%;
}

.cardSection {
    padding: 10px !important;
}

.cardContent {
    padding: 10px;
}

.button {
    background-color: #3e1f85 !important;
}

.seeMoreCard {
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* right: 40px; */
}

.seeMoreText {
    font-weight: 400;
    padding-top: 40px;
}