.container {

    padding-top: 100px;
    color: white;
    padding-bottom: 100px;
    
}

.events {
    padding-top: 40px;
}

.card {
    width: 300px;
    margin-left: 20%;
}

.button {
    background-color: #3e1f85 !important;
}

.seeMoreCard {
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seeMoreText {
    font-weight: 400;
    padding-top: 40px;
}