.item {
    display: flex;
    align-items: center;
    /* flex-direction: space-between; */
    /* flex-direction: column; */
    /* position: relative; */
    gap: 30px;
    /* padding: 10px; */
}

.title {
    position: relative;
    right: 240px;
}

.content {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.graphics {
    /* width: 100%; */
}